<div>
    <h1>Sesion de administrador</h1>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
    <p> <a href="/users">Ingresa</a></p>
    <p> <a href="/api/sessions/logout">Logout</a></p>

</div>
<script src="/js/admin.js"></script>